In [4]:
#Importing packages and data
import numpy as np
import pandas as pd
filnavn = 'anlaegprodtilnettet.xls'
data = pd.read_excel(filnavn,skiprows=17, usecols=range(58), skipfooter=3)
data.head()

,Møllenummer (GSRN),Dato for oprindelig nettilslutning,Kapacitet (kW),Rotor-diameter (m),Navhøjde (m),Fabrikat,Model,Kommune-nr.,Kommune,Type af placering,...,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57
0,570714700000005091,1990-12-06,200.0,27.0,30.0,Micon,M 570,316,Holbæk,LAND,...,366520.0,340051.276,386308.0,321447.0,350464.0,317575.00,306308.0000,334471.000,416876.839,284467.0060
1,570714700000005220,1989-04-04,200.0,24.0,30.0,Danwin,DW 24-Danwin,316,Holbæk,LAND,...,204640.0,164000.000,248150.0,116120.0,0.0,33607.61,139296.6215,90900.392,108177.496,92654.5215
2,570714700000005237,1989-04-04,200.0,24.0,30.0,Danwin,DW 24-Danwin,316,Holbæk,LAND,...,204640.0,164000.000,248150.0,116120.0,0.0,33607.61,139296.6215,90900.392,108177.496,92654.5215
3,570714700000005732,1988-03-29,150.0,24.0,30.0,Dan Force,DK 22-Dan Force,316,Holbæk,LAND,...,113210.0,174745.000,117255.0,101945.0,79044.0,0.00,0.0000,0.000,0.000,0.0000
4,570714700000005749,1989-11-17,150.0,24.0,30.0,Dan Force,DK 22-Dan Force,316,Holbæk,LAND,...,246963.0,187202.000,237111.0,140596.0,0.0,0.00,79261.6760,0.000,165108.788,28136.8280

In [5]:
#Renaming the 'Unnamed X:' columns to pYEAR to indicate eletricity production for the wind turbine
#Removing the observations from 1977 to 2007.
new_cols = {}
for i in range(1977,2019):
    new_cols[str(i)]=f'p{i}'
column_indices = range(16,58)
old_cols = data.columns[column_indices]
data.rename(columns=dict(zip(old_cols, new_cols)), inplace=True)
data.rename(columns=new_cols, inplace=True)
data.head()
#Removing the observations from 1977 to 2007.
data.drop(data.iloc[:,15:47], inplace=True, axis=1)
print(data.columns)

Index(['Møllenummer (GSRN)', 'Dato for oprindelig nettilslutning',
       'Kapacitet (kW)', 'Rotor-diameter (m)', 'Navhøjde (m)', 'Fabrikat',
       'Model', 'Kommune-nr.', 'Kommune', 'Type af placering', 'Ejerlav',
       'Matrikel-nummer', 'X (øst) koordinat \nUTM 32 Euref89',
       'Y (nord) koordinat \nUTM 32 Euref89', 'Koordinatoprindelse', 'p2008',
       'p2009', 'p2010', 'p2011', 'p2012', 'p2013', 'p2014', 'p2015', 'p2016',
       'p2017', 'p2018'],
      dtype='object')

In [6]:
#Storing the data to enable usage in another notebook
%store data

Stored 'data' (DataFrame)